@media (max-width: 800px) {
   .wrapper {
      max-width: 768px;
   }

   .container {
      max-width: 689px;
   }

   .header {
      background-image: url(../images/media768/header-bg-768.png);
      background-position: center;
      margin-bottom: 148px;

      &__topline {
         gap: 42px;
         margin-bottom: 126px;

         &>a:first-child {
            order: 2;
         }

         nav {
            display: none;
         }

         div {
            width: 16px;
            height: 15px;
            border-top: 3px solid $w;
            border-bottom: 3px solid $w;
            position: relative;
            order: 1;
            cursor: pointer;

            &::after {
               content: '';
               position: absolute;
               width: 16px;
               height: 3px;
               background-color: $w;
               top: 3px;
            }
         }

         &>a:last-child {
            order: 3;
         }

      }



      &__content {
         display: flex;
         justify-content: center;

         &-info {
            width: 379px;
            text-align: center;
         }
      }

   }

   .audiotypes {
      margin-bottom: 96px;

      &__inner {
         gap: 10px;
      }

      &__card {
         width: 223px;
         height: 165px;
         padding-top: 42px;

         img {
            height: auto;
         }

         div {
            width: 95px;
            height: 14px;
            margin-bottom: 32px;
         }

         h3 {
            font-size: 15px;
            line-height: 20px;
            letter-spacing: 1.07143px;
         }
      }

      &__card:nth-child(1) {
         img {
            width: 80px;
         }
      }

      &__card:nth-child(2) {
         img {
            width: 84px;
         }
      }

      &__card:nth-child(3) {
         img {
            width: 103px;
         }
      }
   }

   .first {
      &__component {
         margin-bottom: 32px;

         &-inner {
            min-height: 720px;
            padding: 0 0 65px 0;
            background: url(../images/media768/zx9-speaker-bg-768.png), url(../images/media768/zx9-circles-bg-768.png) $orng;
            background-repeat: no-repeat;
            background-position: top 52px center, top;
            align-items: flex-end;
            justify-content: center;
         }

         &-info {
            text-align: center;
         }
      }
   }

   .scnd {

      &__component {
         margin-bottom: 32px;

         &-inner {
            padding: 0 0 0 62px;
            background-image: url(../images/media768/zx7-speaker-bg-768.png);
            background-repeat: no-repeat;
         }
      }

   }

   .thrd {

      &__component {
         margin-bottom: 96px;

         &-inner {
            gap: 11px;
         }

         &-bg {
            background-image: url(../images/media768/yx1-earphones-img-768.png);
            background-repeat: no-repeat;
         }

         &-card {
            padding: 0 0 0 41px;
         }
      }
   }

   .frth {

      &__component {
         margin-bottom: 96px;

         &-inner {
            min-height: 633px;
            justify-content: center;
            align-items: flex-end;
            background-image: url(../images/media768/man-in-earphones-768.png);
            background-repeat: no-repeat;
         }

         &-info {
            max-width: 573px;
            text-align: center;
         }
      }
   }

   .footer {
      padding: 60px 0 46px;

      &__nav {
         display: block;

         img {
            margin-bottom: 32px;
         }
      }

      &__info {
         position: relative;

         &-text {
            max-width: 689px;
         }

         &-social {
            position: absolute;
            bottom: 0;
            right: 0;
         }
      }
   }

}