@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Manrope", sans-serif;
}

/*----------------HEADER CONTENT-----------------*/

.header {
  min-height: 729px;
  padding: 32px 0 0 0;
  background-color: #141414;
  border-radius: 8px;
  background-image: url(../images/header-bg.svg);
  background-repeat: no-repeat;
  background-position: right 121px top 0;
  margin-bottom: 127px;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
}
.header__topline {
  display: flex;
  align-items: center;
  padding-bottom: 36px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 128px;
  gap: 197px;
}
/* .header__topline > a:first-child {
  margin-right: 197px;
} */
.header__topline > a:last-child {
  margin-left: auto;
}
.header__list {
  display: flex;
  gap: 34px;
}
.header__list li a {
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  transition: color .7s ease-in;
}
.header__list li a:hover{
  color: #D87D4A;
}


.header__content {
}
.header__content-info {
  width: 399px;
  height: 346px;
  /* margin-bottom: 158px; */
}

.header__content-undertitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.5;
  margin-bottom: 24px;
}
.header__content-info h2 {
  font-weight: 700;
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 24px;
}
.header__content-info h2 + p {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  opacity: 0.75;
  margin-bottom: 40px;
  max-width: 349px;
}

.header__content-info > button {
  width: 160px;
  height: 48px;
  background: #d87d4a;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  transition: background .7s ease-in;
}

.header__content-info > button:hover{
  background: #FBAF85;
}


/* ------------------------BEGINNING OF THE MAIN PART (AUDIOTYPES SECTION) --------------------------*/

.main {
}
.audiotypes {
  margin-bottom: 168px;
}
.audiotypes__inner {
  /* max-width: 1110px; */
  display: flex;
  gap: 30px;
}

.audiotypes__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 204px;
  background: #f1f1f1;
  border-radius: 8px;
  padding-top: 65px;
  position: relative;
}

.audiotypes__card img {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}
.audiotypes__card div {
  width: 122px;
  height: 18px;
  background: #000;
  filter: blur(21.7463px);
  margin-bottom: 33px;
}

.audiotypes__card h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.28571px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.audiotypes__card a {
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
  opacity: 0.5;
  padding-right: 18px;
  position: relative;
  transition: color .7s ease-in;
}
.audiotypes__card a::before {
  content: "";
  width: 8px;
  height: 12px;
  position: absolute;
  background-image: url(../images/icons/arrow.svg);
  background-repeat: no-repeat;
  top: 3px;
  right: 0;
}

.audiotypes__card a:hover{
  color: #D87D4A;
}  

/* -------------------------------------FIRST COMPONENT SECTION -------------------------- */

.frst__component {
  margin-bottom: 48px;
}

.frst__component-inner {
  /* width: 100%; */
  min-height: 560px;
  padding-right: 95px;
  border-radius: 8px;
  background: url(../images/zx9-speaker-bg.svg),
    url(../images/zx9-circles-bg.svg) #d87d4a;
  background-repeat: no-repeat;
  background-position: bottom 0 left 117px, bottom 0 left 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* background-size: contain; */
}
.first__component-info {
  width: 349px;
  height: 303px;
  margin-left: auto;
}

.first__component-info h3 {
  font-weight: 700;
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 24px;
}

.first__component-info p {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  opacity: 0.75;
  margin-bottom: 40px;
}
.first__component-info button {
  width: 160px;
  height: 48px;
  background: #000;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  transition: all .7s ease-in;
}
.first__component-info button:hover{
  background: #4C4C4C;
}

/* ------------------------------------ SECOND COMPONENT SECTION ------------------------ */

.scnd__component {
  margin-bottom: 48px;
}

.scnd__component-inner {
  /* width: 100%; */
  display: flex;
  
  align-items: center;
  min-height: 320px;
  padding: 0 95px;
  border-radius: 8px;
  background-image: url(../images/zx7-speaker-bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
}


.scnd__component-inner h3,
.thrd__component-card h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.scnd__component-inner button,
.thrd__component-card button {
  width: 160px;
  height: 48px;
  border: 1px solid #000;
  background-color: transparent;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all .7s ease-in;
}

.scnd__component-inner button:hover,
.thrd__component-card button:hover{
  background: #000;
  color: #ffffff;
}


/* ----------------------------------THIRD COMPONENT SECTION---------------------- */

.thrd__component {
  margin-bottom: 200px;
}
.thrd__component-inner {
  width: 100%;
  display: flex;
  gap: 30px;
  min-height: 320px;
}
.thrd__component-bg {
  width: 50%;
  background-image: url(../images/yx1-earphones-img.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.thrd__component-card {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 0px 95px;
  background-color: #f1f1f1;
  border-radius: 8px;
}

/* -------------------------------------- FOURTH COMPONENT SECTION ----------------------------- */

.frth__component {
  margin-bottom: 200px;
}

.frth__component-inner {
  width: 100%;
  min-height: 588px;
  display: flex;
  align-items: center;
  background-image: url(../images/man-in-earphones.svg);
  background-repeat: no-repeat;
  background-position: right 0 top 0;
}
.frth__component-info {
  max-width: 445px;
}

.frth__component-info h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.42857px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.frth__component-info h3 span {
  color: #d87d4a;
}
.frth__component-info p {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.5;
}

/* ----------------------------------- FOOTER PART ------------------------- */

.footer {
  background-color: #000;
  padding: 75px 0 48px;
  position: relative;
}

.footer__inner {
}
.footer__line{
  width: 101px;
  height: 4px;
  background-color: #D87D4A;
  position: absolute;
  top: 0;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}
.footer__menu {
  display: flex;
  gap: 34px;
}
.footer__menu li a {
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  transition: color .7s ease-in;
}
.footer__menu li a:hover{
  color: #D87D4A;
}
.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__info-text {
  max-width: 540px;
}
.footer__info-text p {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  opacity: 0.5;
}
.footer__info-text p:first-child {
  font-weight: 500;
  margin-bottom: 56px;
}
.footer__info-social ul {
  display: flex;
  gap: 16px;
  align-items: center;
}
.footer__social-icon svg path{
  transition: fill .7s ease-in;
}
.footer__social-icon svg path:hover{
  fill: #D87D4A;
}

/* .footer__social-icon:nth-child(1) a{
  background-image: url(../images/icons/facebook.svg);
  background-repeat: no-repeat;
}
.footer__social-icon:nth-child(2) a{
  background-image: url(../images/icons/twiter.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer__social-icon:nth-child(3) a{
  background-image: url(../images/icons/insta.svg);
  background-repeat: no-repeat;
} */
