@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  font-family: "Manrope", sans-serif;
  padding: 95px 0 44px;
}



.container {
   max-width: 1110px;
   margin: 0 auto;
 }

.audiotypes {
   margin-bottom: 168px;
 }
 .audiotypes__inner {
   /* max-width: 1110px; */
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 30px;
 }
 
 .audiotypes__card {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 350px;
   height: 204px;
   background: #f1f1f1;
   border-radius: 8px;
   padding-top: 65px;
   position: relative;
 }
 
 .audiotypes__card img {
   position: absolute;
   top: 0;
   transform: translateY(-50%);
 }
 .audiotypes__card div {
   width: 122px;
   height: 18px;
   background: #000;
   filter: blur(21.7463px);
   margin-bottom: 33px;
 }
 
 .audiotypes__card h3 {
   font-weight: 700;
   font-size: 18px;
   line-height: 25px;
   letter-spacing: 1.28571px;
   text-transform: uppercase;
   margin-bottom: 15px;
 }
 
 .audiotypes__card a {
   font-weight: 700;
   font-size: 13px;
   line-height: 18px;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #000;
   opacity: 0.5;
   padding-right: 18px;
   position: relative;
   transition: color .7s ease-in;
 }
 .audiotypes__card a::before {
   content: "";
   width: 8px;
   height: 12px;
   position: absolute;
   background-image: url(../images/icons/arrow.svg);
   background-repeat: no-repeat;
   top: 3px;
   right: 0;
 }
 
 .audiotypes__card a:hover{
   color: #D87D4A;
 }  
 
 /* -------------------------------------FIRST COMPONENT SECTION -------------------------- */
 
 .frst__component {
 }
 
 .frst__component-inner {
   /* width: 100%; */
   min-height: 560px;
   padding-right: 95px;
   border-radius: 8px;
   background: url(../images/zx9-speaker-bg.svg),
     url(../images/zx9-circles-bg1.svg) #d87d4a;
   background-repeat: no-repeat;
   background-position: bottom 0 left 117px, bottom 0 left 0;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   /* background-size: contain; */
 }
 .first__component-info {
   width: 349px;
   height: 303px;
   margin-left: auto;
 }
 
 .first__component-info h3 {
   font-weight: 700;
   font-size: 56px;
   line-height: 58px;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: #ffffff;
   margin-bottom: 24px;
 }
 
 .first__component-info p {
   font-weight: 500;
   font-size: 15px;
   line-height: 25px;
   color: #ffffff;
   opacity: 0.75;
   margin-bottom: 40px;
 }
 .first__component-info button {
   width: 160px;
   height: 48px;
   background: #000;
   font-weight: 700;
   font-size: 13px;
   line-height: 18px;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #ffffff;
   transition: all .7s ease-in;
 }
 .first__component-info button:hover{
   background: #4C4C4C;
 }